<html th:replace="student/studentbase::layout(~{::section})">
	<head>
	</head>
	<body>
		<section>
			<h1 style="color: brown;text-align: center; background-color: bisque; border: 2px solid black;" >    <u><b> CHANGE PASSWORD</b></u></h1>

			
<div th:if="${msg}">
	<p th:text="${msg}" style="text-align: center;color: yellowgreen; "></p>
</div>	
<form class="form-group" method="post">
	<table class="table table-borderd" style="margin: auto; width: 60%; background-color: bisque; border: 2px solid black; color: black;">
		<tr>
			<td>
				Enetr Old Password
			</td>
			<td>
				<input type="password" style="background-color: white;" name="oldpassword" class="form-control"  placeholder="Enter Old Password" required/>
			</td>
		</tr>
		<tr>
			<td>
				Enter New Password
			</td>
			<td>
				<input type="password" style="background-color: white;" name="newpassword" class="form-control"  placeholder="Enter New Password" required/>
			</td>
		</tr>
		<tr>
			<td>
				Confirm Password
			</td>
			<td>
				<input type="password" style="background-color: white;" name="confirmpassword" class="form-control"  placeholder="Enter Confirm Password" required/>
				
			</td>
		</tr>
		<tr>
			<td>
				
			</td>
			<td>
				<button type="submit" class="btn btn-danger">Change Password</button>
			</td>
		</tr>
		
	</table>
</form>		
		</section>
	</body>
</html>