<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
  <head>
	 <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOUegyan</title>
  </head>
  <body>
	<div class="container-fluid">
		 <div class="row p-0 topbar">
            <div class="col-md-1"></div>
            <div class="col-md-6 topbar1 mt-2 d-flex" >
            <h5 style="color:#fff;font-size:.9rem;"> <i class="fa-spin fa fa-phone text-light ms-3"></i> +91 7080102007</h5>
            <h5 style="color:#fff;font-size:.9rem;"> <i class="fa fa-envelope text-light ms-4"></i> nouegyanhelp@gmail.com </h5>
            </div>
            <div class="col-md-5 topbar2 mt-1">
            <div class="contact-info d-flex align-items-center my-1">
            <h5 id="p1" style="color:#fff;font-size:.9rem;">Mon Sep 09 2024 18:18:55 GMT+0530 (India Standard Time)</h5>
            </div>
            </div>
         </div>
         <div class="row p-0 topbar topbar1" style="color:#fff;font-size:.9rem; 
             background-color:#8b0000;text-align:center;"><p style="padding-top:10px;">
             For Admission and Examination related query, Kindly call on University helpline Numbers 9341508580,9341508577,0612-2201013 &amp; 0612-2206916</p>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1 logo-img">
            <a href="#" class="mx-3">
            <img src="images/logo1.png" class="img-fluid" style="height:12vh">
            </a>
            </div>
            <div class="col-sm-6">
            <div class="text-area ms-4  mt-3">
            <h4>NOU e-Gyan PORTAL</h4>
            <h6>(A Concept by Nalanda Open University)</h6>
            </div>
            </div>
            <div class="col-sm-4">
            <div class="contact-info d-flex my-4">
            <a href="#" class=" me-2"><i class="fa-brands fa-twitter" style="border: 1px solid blue; border-radius: 50%; padding: 5px;"></i></a>
            <a href="#" class="me-2"><i class="fa-brands fa-facebook" style="border: 1px solid rgb(3, 3, 148); border-radius: 50%; padding: 5px; color:  rgb(3, 3, 148);"></i></a>
            <a href="#" class="me-2"><i class="fa-brands fa-instagram"  style="border: 1px solid rgb(243, 68, 97); border-radius: 50%; padding: 5px; color: rgb(243, 68, 97);"></i></a>
            <a href="#" class="me-2"><i class="fa-brands fa-linkedin"  style="border: 1px solid rgb(3, 3, 148); border-radius: 50%; padding: 5px; color:  rgb(3, 3, 148);"></i></a>
            <a href="#" class="youtube me-2"><i class="fa-brands fa-youtube" style="border: 1px solid red; border-radius: 50%; padding: 5px; color:  red;padding-top: 6px;padding-bottom: 6px;"></i></i></a>
            </div>
            </div>
        </div>
      <div class="row ">
        <div class="col-sm-12">
            <div class="row rishta">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-4">
                <h4>WELCOME <span> STUDENTS</span></h4>
                </div>
                <div class="col-sm-7">
                <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto me-0">
                <li class="nav-item ">
                <a class="nav-link text-light" href="/index">
                Home
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-light" href="/registration"><i class="bi bi-book-half"></i> Registration</a>
                </li>
               
               
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-spin fa fa-key"></i>Login
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<li><a class="dropdown-item" href="/studentlogin">Student Login</a></li>
                <li><a class="dropdown-item" href="/adminlogin">Admin Login</a></li>
                </ul>
                </li>
                <li class="nav-item">
                <a class="nav-link text-light" href="/contactus"><i class="fa-spin fa fa-phone"></i> Contact us</a>
                </li>
				<li class="nav-item">
				      <a class="nav-link text-light" href="/aboutus"> About us</a>
				 </li>
                </ul>
                </div>
                </div>
                </nav>
                </div>
            </div>
        </div>
       
      </div>
	  
	  
	  
		<div class="row" th:replace="${content}"></div>
		<div class="row  py-4 mt-5 text-light" style="background-color: #8b0000;">
		        <div class="col-sm-10 mx-auto ">
		      <div class="row">
		        <div class="col-sm-4">
		          <img src="images/logo1.png" class="img-fluid" style="height:12vh">

		          <h4> </i>           <h2>Welcome To NOU</h2>
		          </h4>
		          <p class="fw-semibold ps-4">
		           <small>
		            
		     Nalanda Open University is a State Open University duly established under the Act of Bihar Government and is also recognized by Distance Education Council, IGNOU, Maidan Garhi, New Delhi. </small>
		          </p>
		          
		        
		        </div>
		        <div class="col-sm-4">
		          <h3>  &nbsp; &nbsp; Useful Links</h3>
		          <p class="fw-semibold ps-4">
		            <span><i class="fa-solid fa-arrow-right"></i> Home</span></br>
		      <span><i class="fa-solid fa-arrow-right"></i> Services</span></br>
		      <span><i class="fa-solid fa-arrow-right"></i> ContactUs</span> </br>
		     <span><i class="fa-solid fa-arrow-right"></i> Courses</span></br>
		     <span><i class="fa-solid fa-arrow-right"></i> Study Center</span>
		            </p>
		            <h3>&nbsp;&nbsp;&nbsp;&nbsp;Follow us</h3>
		            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-twitter"></i> <i class="fa-brands fa-google-plus"></i>
		          
		            
		        </div>
		        <div class="col-sm-4" >
		          <h3> &nbsp; contact-info</h3>
		          <p class="fw-semibold ps-4">
		        </br>
		        <span><i class="fa-solid fa-location-dot fs-3 fa-shake"></i> NOU</span>
		        </br>
		        <span>2nd/3rd Floor, Biscomaun Bhawan, Gandhi Maidan, Patna 800 001 (BIHAR).</span>
		        </br>
		        </br>
		        <span><i class="fa-solid fa-phone"></i>  +91 7080102007</span>
		        </br>
		        &nbsp;&nbsp;&nbsp;Give us a call
		        
		          </p>
		          

		        </div>
		      </div>
		      <hr class="text-black"/>
		      <h5>
		        <p style="color:rgb(241, 189, 77);" class="m-1">
		          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© Copyright
		          <script type="text/javascript">
		                var d = new Date();
		                document.write(d.getFullYear());
		                </script>2024
		          Designed &amp; Developed By | <a target="_blank" style="color:white;">Softpro India Computer Technologies (P) Ltd.</a>
		          </p>      
		      </h5>
		       </div>
		      <!-- footer end -->
		      </div>
		      

	</div>
  </body>
</html>