<html lang="en" th:replace="base::layout(~{::section})">
  <head>
  </head>
  <body>
   <section>
		<div class="row" style="background-image: url('images/slider.jpg');background-repeat: no-repeat;background-size: cover ; height: 600px; ">
		        <div class="col-sm-12">

		        </div>
		      </div>
			  
				   
				   
				   <!-- yellow marquee start -->
				       <div class="row mt-2">
				         <div class="col-sm-12 bg-warning py-2">
				           <marquee scrollamount="12" onmousemove="this.stop()" onmouseout="this.start()">
				             <div class="row">
				               <div class="col-sm-3 text-light py-2" style="background-color:rgba(209, 33, 10, 0.985) ;">The portal is easy
				                 to access & highly user<br />
				                 friendly for the students & study centres.</div>
				               <div class="col-sm-3 ms-5 text-light py-2" style="background-color:rgba(209, 33, 10, 0.985) ;">The portal is
				                 fully secured and accessible<br />
				                 24 x 7 to its authorised users.</div>
				               <div class="col-sm-3  ms-5 text-light py-2" style="background-color:rgba(209, 33, 10, 0.985) ;">The portal
				                 is easy to access & highly user<br />
				                 friendly for the students & study centres.</div>
				           </marquee>
				         </div>
				       </div>
				       <!-- yellow marquee end -->


				       <!-- Image heading end -->

				       <!-- About Start -->

				       <div class="row">
				         <div class="col-sm-12 fw-bold" style="font-size: 20px;">
				           Description-------
				         </div>
				       </div>
				       <div class="row">
				         <div class="col-sm-12 fw-bold" style="font-size: 30px;">
				           ABOUT <span style="color: #8b0000;">NOU e-GYAN PORTAL</span>
				         </div>
				       </div>
				       <div class="row mt-5">
				         <div class="col-sm-6 text-justify">
				           <b> Nalanda Open University</b> welcomes all our students, faculties & study centres to the very new &
				           innovative online study portal <b>NOU e-Gyan</b>. The portal is a unique initiative by Hon'ble Vice-Chancellor
				           <b>Prof. (Dr.) K C Sinha</b>, which aims at providing online study material to the students of NOU. <br><br><br>

				           The portal is accessible from any hook and corner of the world if the system allows the permission to its users.
				           It is also fully secured and accessible 24 x 7 to its authorised users. It will resolve the academic issues such
				           as E-content Distribution, Delivery, Tracking, Assessment, Progress Monitoring & Controlling of all stakeholders
				           of the system i.e. students, teachers, study centre administrators as well as Nalanda Open University Admins
				           when they are at a distance.
				         </div>
				         <div class="col-sm-6">
				           <img src="images/slider1.jpeg" alt="" class="w-100">
				         </div>
				       </div>

				       <!-- About End -->

				       <!-- protal wala start -->
				       <section class="portal mt-5" id="portal">
				         <div class="container">
				           <div class="row ">
				             <div class="section-title py-0">
				               <h2>Portal</h2>
				               <h2> USER <span style="color: #8b0000;"> OF THE PORTAL</span></h2>
				             </div>
				             <div class="col-sm-12">
				               <div class="container">
				                 <div class="row mt-5 " style="margin:0px auto;">
				                   <div class="col-sm-4 mt-3 mt-lg-0 px-4">
				                     <div class="card_outer">
				                       <div class="card_box pb-3">
				                         <div class="card_content">
				                           <span class="fa fa-lock services_ic"
				                             style="padding:15px 20px 15px 20px;margin-top:-.5rem;"></span>
				                           <h2>01</h2>
				                           <p class="txt">The university admin can login to monitor the portal, provide access to
				                             authorised stake holders &amp; upload study material.</p>
				                           <div class="st-c mt-5">
				                             <a href="http://dls.nouegyan.in/" target="_blank">University Admin</a>
				                           </div>
				                         </div>
				                       </div>
				                     </div>
				                   </div>
				                   <div class="col-sm-4 mt-5 mt-lg-0 px-4">
				                     <div class="card_outer">
				                       <div class="card_box pb-3 ">
				                         <div class="card_content mb-3 ">
				                           <span class="fa fa-book services_ic mt-4"></span>
				                           <h2>02</h2>
				                           <p class="txt">
				                             The study centres authorised personnel can login to track students progress, enroll students,
				                             schedule assignments &amp; generate reports.
				                           </p>
				                           <div class="st-c">
				                             <a href="http://dls.nouegyan.in/" target="_blank">Study centre</a>
				                           </div>
				                         </div>
				                       </div>
				                     </div>
				                   </div>
				                   <div class="col-sm-4 px-4 mt-5 mt-lg-0">
				                     <div class="card_outer">
				                       <div class="card_box pb-3">
				                         <div class="card_content">
				                           <span class="fa fa-users services_ic mt-3"></span>
				                           <h2>03</h2>
				                           <p class="txt ">
				                             The university enrolled students can login to view the notification by university, access the
				                             e-contents, give assignments &amp; track thier progress report.</p>
				                           <div class="st-c mb-4 mb-lg-0">
				                             <a href="http://dls.nouegyan.in/" target="_blank">NOU Students</a>
				                           </div>
				                         </div>
				                       </div>
				                     </div>
				                   </div>
				                 </div>
				               </div>
				             </div>
				           </div>
				         </div>
				       </section>
				       <!-- protal wala end -->




				       <!-- raj start-->
				       <!-- secton servise -->
				       <section class="services">
				         <div class="container">
				           <div class="row">
				             <div class="section-title">
				               <h5>FEATURES-----</h5>
				               <h3><b>STUDENT</b> <span style="color: #8b0000;"><b>SERVICES</b></span></h3>
				             </div>
				             <div class="col-sm-3">
				               <div class="image1 mx-5 mx-lg-0">
				                 <img src="images/registration.jpg" class="img-fluid">
				               </div>
				               <div class="text">
				                 <h4>Login</h4>
				               </div>
				             </div>
				             <div class="col-sm-3">
				               <div class="image1 mx-5 mx-lg-0">
				                 <img src="images/dashboard.jpg" class="img-fluid">
				               </div>
				               <div class="text">
				                 <h4>Dashboard</h4>
				               </div>
				             </div>
				             <div class="col-sm-3">
				               <div class="image1 mx-5 mx-lg-0">
				                 <img src="images/online-courses.jpg" class="img-fluid">
				               </div>
				               <div class="text">
				                 <h4>Self Learning Material (SLM)</h4>
				               </div>
				             </div>
				             <div class="col-sm-3">
				               <div class="image1 mx-5 mx-lg-0">
				                 <img src="images/e-lectures.jpg" class="img-fluid ">
				               </div>
				               <div class="text">
				                 <h4>e-Books</h4>
				               </div>
				             </div>
				           </div>
				           <div class="row">
				             <div class="col-sm-3">
				               <div class="image1 mx-5 mx-lg-0">
				                 <img src="images/course-catlog.jpg" class="img-fluid p-2">
				               </div>
				               <div class="text">
				                 <h4>Self-Assessment Tools</h4>
				               </div>
				             </div>
				             <div class="col-sm-3">
				               <div class="image1 mx-5 mx-lg-0">
				                 <img src="images/performance.jpg" class="img-fluid pb-2">
				               </div>
				               <div class="text">
				                 <h4>Performance</h4>
				               </div>
				             </div>
				             <div class="col-sm-3">
				               <div class="image1 mx-5 mx-lg-0">
				                 <img src="images/feedback.jpg" class="img-fluid pb-2">
				               </div>
				               <div class="text">
				                 <h4>Feedback</h4>
				               </div>
				             </div>
				             <div class="col-sm-3">
				               <div class="image1 mx-5 mx-lg-0">
				                 <img src="images/course-catlog.jpg" class="img-fluid pb-2">
				               </div>
				               <div class="text">
				                 <h4>Courses-Catalogue</h4>
				               </div>
				             </div>
				           </div>
				         </div>
				       </section>


				       <!---administer-->

				       <div class="row " style="background-color: #dddddd;">
				         <div class="col-sm-12">
				           <div class="row ">
				             <div class="col-sm-12 fw-bold" style="font-size: 20px;">
				               LINK-------
				             </div>
				           </div>
				           <div class="row">
				             <div class="col-sm-12 fw-bold" style="font-size: 30px;">
				               Administrative <span style="color: #8b0000;"> Setup</span>
				             </div>
				           </div>
				         </div>
				         <div class="row mt-5">
				           <div class="col-sm-10 mx-auto">
				             <div class="row">
				               <div class="col-sm-3">
				                 <div class="card">
				                   <img src="images/vc (1).jpg" alt="..." style="border-radius: 200px; padding:40px;">
				                   <div class="card-body">
				                     <h5 class="card-text" style="color: #8b0000;"><b>Prof. (Dr.) K. C. Sinha</b></h5>
				                     <span>VICE CHANCELLOR</span>
				                   </div>
				                 </div>
				               </div>
				               <div class="col-sm-3">
				                 <div class="card">
				                   <img src="images/pvc.jpg" alt="..." style="border-radius: 200px; padding:40px;">
				                   <div class="card-body">
				                     <h5 class="card-text" style="color: #8b0000;"><b>Prof. (Dr.) Sanjoy Kumar</b></h5>
				                     <span>PRO VICE CHANCELLOR</span>
				                   </div>
				                 </div>
				               </div>
				               <div class="col-sm-3">
				                 <div class="card">
				                   <img src="images/registrar1.jpeg" alt="..." style="border-radius: 200px; padding:40px;">
				                   <div class="card-body">
				                     <h5 class="card-text" style="color: #8b0000;"><b>Dr. Md. Habibur Rahman</b></h5>
				                     <span> REGISTRAR</span>
				                   </div>
				                 </div>
				               </div>
				               <div class="col-sm-3">
				                 <div class="card">
				                   <img src="images/examreg (1).jpg" alt="..." style="border-radius: 200px; padding:40px;">
				                   <div class="card-body">
				                     <h5 class="card-text text-center" style="color: #8b0000;"><b> Neelam Kumari</b></h5>
				                     <pre>        REGISTRAR (Exam)</pre>
				                   </div>
				                 </div>
				               </div>
				             </div>
				           </div>
				         </div>


				         <div class="row " style="background-color: #dddddd;">
				           <div class="col-sm-12 mt-5"></div>
				         </div>


				         <!--  -->


				         <div id="youtube">
				           <section id="cta" class="cta p-0">
				             <div class="container">
				               <div class="row py-4" data-aos="zoom-out">
				                 <div class="section-title pb-1">
				                   <h4 style="color:#fff;">How to use</h4>
				                   <p>
				                   <h2 style="color:#fff">NOU <span style="  text-transform: lowercase; color:#fff">e</span>-Gyan Portal
				                     Tutorial Videos</h2>
				                   </p>
				                 </div>
				                 <p><b style="color:#fff;">For any queries regarding the access into the Portal, the users can watch the
				                     tutorial videos provided or feel free to communicate their issues via the given contact helpline
				                     number or helpline email ID.</b></p>
				                 <div class="col-lg-6 text-center text-lg-start">
				                   <div class="video-1 text-center">
				                     <iframe width="500" height="280" src="https://www.youtube.com/embed/Sh9VxOBoYbk"
				                       title="YouTube video player" frameborder="0"
				                       allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				                       allowfullscreen></iframe>

				                     <a href="#" class="cta-btn"> <span
				                         style="color:#fff;text-transform: lowercase;"></span></a>
				                   </div>
				                 </div>
				                 <div class="col-lg-6 text-center text-lg-start">
				                   <div class="video-1 text-center">
				                     <iframe width="500" height="280" src="https://www.youtube.com/embed/cEaTY8EfdRs"
				                       title="YouTube video player" frameborder="0"
				                       allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				                       allowfullscreen></iframe>

				                     <a href="#" class="cta-btn"><span
				                         style="color:#fff;text-transform: lowercase;"></span></a>
				                   </div>
				                 </div>
				               </div>
				             </div>
				           </section>
				         </div>

				         <!--  -->



				         <!-- description start -->
				         <div class="row mt-5">
				           <div class="col-sm-3 text-center text-secondary">
				             <h5>Courses</h5>
				           </div>
				           <div class="col-sm-1 text-start" style="color:rgba(189, 102, 61, 0.968);"><b>
				               <hr>
				             </b></div>
				         </div>
				         <div class="row">
				           <div class="col-sm-2 text-end text-black" style="margin-left: 80px; margin-top: -10px;">
				             <h3 class="me-0"><b>Our All Latest</b></h3>
				           </div>
				           <div class="col-sm-9 text-start" style=" color:rgb(177, 31, 12); margin-top: -10px;">
				             <h3 class="ms-0"><b>Courses</b></h3>
				           </div>
				         </div>
				         <!-- description end -->

				         <!--  courses cARD-->
				         <div class="row mt-5">
				           <div class="col-sm-10 mx-auto">
				             <div class="row">
				               <div class="col-sm-4">
				                 <div class="card" style="width: 22rem;">
				                   <img src="images/mca.png" class="card-img-top" alt="..." style="padding:20px;">
				                   <div class="card-body">
				                     <p class="card-text"><b>Master In Computer Applicaion(MCA)</b></p>
				                   </div>
				                 </div>
				               </div>
				               <div class="col-sm-4">
				                 <div class="card" style="width: 22rem;">
				                   <img src="images/bba.png" class="card-img-top" alt="..." style="padding: 20px;">
				                   <div class="card-body">
				                     <p class="card-text"><b>Bachelor In Business Admanistration(BBA)</b></p>
				                   </div>
				                 </div>
				               </div>
				               <div class="col-sm-4">
				                 <div class="card" style="width: 22rem;">
				                   <img src="images/bca.png" class="card-img-top" alt="..." style="padding: 20px;">
				                   <div class="card-body">
				                     <p class="card-text"><b>Bachelor in Computer Application(BCA)</b></p>
				                   </div>
				                 </div>
				               </div>
				             </div>
				           </div>
				         </div>


				         <!-- raj end -->



				         <!-- helpdesk start -->
				         <div class="row">
				           <div class="col-sm-12">
				             <div class="row ">
				               <div class="col-sm-12 fw-bold" style="font-size: 20px;">
				                 HELPSESK-------
				               </div>
				             </div>
				             <div class="row">
				               <div class="col-sm-12 fw-bold" style="font-size: 30px;">
				                 ALWAYS <span style="color: #8b0000;">HERE TO SUPPORT! </span>
				               </div>
				             </div>
				           </div>
				         </div>




				         <div class="row">
				           <div class="col-sm-6 ms-4">
				             <img src="images/helpline.svg" alt="" height="300">
				           </div>
				           <div class="col-sm-5 me-4">
				             <div class="row">
				               <div class="col-sm-12 p-3 mt-2" style="background-color: #ef6603; color: azure;">

				                 The help desk provides user assistance to navigate and understand <br> the aspects of the portal. This
				                 also provides a simple interface for <br> maintenance of student information and issues faced.
				               </div>
				               <div class="col-sm-12 p-4 mt-2"
				                 style="background-color: white; color: black; font-size: 20px; border: 1px solid;">
				                 <span style="color: #ffa500;"> <i class="fa-solid fa-phone"></i> </span> +91 7080102007
				               </div>
				               <div class="col-sm-12 p-4 mt-2"
				                 style="background-color: white; color: black; font-size: 20px; border: 1px solid;">
				                 <span style="color: #ffa500;"> <i class="fa-regular fa-envelope"></i>nouegyanhelp@gmail.com </span>
				               </div>
				             </div>
				           </div>
				         </div>


				         <!-- helpdesk end -->


				         <!-- Quick link start -->
				         <div class="row " style="background-color: #dddddd;">
				           <div class="col-sm-12 ms-4">
				             <div class="row ">
				               <div class="col-sm-12 fw-bold" style="font-size: 20px;">
				                 LINK-------
				               </div>
				             </div>
				             <div class="row">
				               <div class="col-sm-12 fw-bold" style="font-size: 30px;">
				                 QUICK <span style="color: #8b0000;">LINK</span>
				               </div>
				             </div>
				           </div>

				           <div class="row  py-5 p-5">
				             <div class="col-sm-11 mx-auto">
				               <div class="row">
				                 <div class="col-sm-4 ">
				                   <div class="row" style="border: 1px solid; background-color: azure;">
				                     <div class="col-sm-6"><img src="images/logo1.png" alt="" height="100"></div>
				                     <div class="col-sm-6">
				                       <span style="color: #8b0000;" class="fw-bold"> NOU</span> <br>
				                       <span>Nalanda Open University</span>
				                     </div>
				                   </div>
				                 </div>
				                 <div class="col-sm-4">
				                   <div class="row ms-2" style="border: 1px solid; background-color: azure;">
				                     <div class="col-sm-6"><img src="images/logo2.png" alt="" height="100"></div>
				                     <div class="col-sm-6">
				                       <span style="color: #8b0000;" class="fw-bold">BSHEC</span> <br>
				                       <span>Bihar state Higher Education Council</span>
				                     </div>
				                   </div>
				                 </div>
				                 <div class="col-sm-4">
				                   <div class="row ms-2" style="border: 1px solid; background-color: azure;">
				                     <div class="col-sm-6"><img src="images/logo3.png" alt="" height="100"></div>
				                     <div class="col-sm-6">
				                       <span style="color: #8b0000;" class="fw-bold">UGC</span> <br>
				                       <span>University Grants Commission</span>
				                     </div>
				                   </div>
				                 </div>
				               </div>


				             </div>
				           </div>

				         </div>
				         <!-- Quick link end -->



				         <!-- feedback  slider start-->
				         <div class="row">
				           <div class="col-sm-12">
				             <div class="row">
				               <div class="col-sm-12 fw-bold" style="font-size: 20px;">
				                 FEEDBACK-------
				               </div>
				             </div>
				             <div class="row">
				               <div class="col-sm-12 fw-bold" style="font-size: 30px;">
				                 FEEDBACK <span style="color: #8b0000;">FROM OUR STUDENTS</span>
				               </div>
				             </div>
				           </div>

				           <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
				             <div class="carousel-inner">
				               <div class="carousel-item active">
				                 <div class="row">
				                   <div class="col-sm-3 p-5 text-end">
				                     <img src="images/t4.jpg" alt="" height="150">
				                   </div>
				                   <div class="col-sm-8 p-3 my-5 ">
				                     <span class="fw-bold">“This is best and biggest unified platform for instant online learning. We can
				                       easily access any content of our enrolled course from the portal. Thank you NOU e-Gyan!!“</span>
				                     <br> <br>
				                     <div class="row">
				                       <div class="col-sm-12">-Rani Verma-</div>
				                     </div>
				                     <div class="row">
				                       <div class="col-sm-12">
				                         University Student
				                       </div>
				                     </div>
				                   </div>
				                 </div>
				               </div>
				               <div class="carousel-item">
				                 <div class="row">
				                   <div class="col-sm-3 p-5 text-end">
				                     <img src="images/t3.webp" alt="" height="150">
				                   </div>
				                   <div class="col-sm-8 p-3 my-5 ">
				                     <span class="fw-bold">“This is best and biggest unified platform for instant online learning. We can
				                       easily access any content of our enrolled course from the portal. Thank you NOU e-Gyan!!“</span>
				                     <br> <br>
				                     <div class="row">
				                       <div class="col-sm-12">-Avanish Sharma-</div>
				                     </div>
				                     <div class="row">
				                       <div class="col-sm-12">
				                         University Student
				                       </div>
				                     </div>
				                   </div>
				                 </div>
				               </div>
				               <div class="carousel-item">
				                 <div class="row">
				                   <div class="col-sm-3 p-5 text-end p-3">
				                     <img src="images/t4.jpg" alt="" height="150">
				                   </div>
				                   <div class="col-sm-8 p-3 my-5 ">
				                     <span class="fw-bold">“This is best and biggest unified platform for instant online learning. We can
				                       easily access any content of our enrolled course from the portal. Thank you NOU e-Gyan!!“</span>
				                     <br> <br>
				                     <div class="row">
				                       <div class="col-sm-12">-Saurabh Tripathi-</div>
				                     </div>
				                     <div class="row">
				                       <div class="col-sm-12">
				                         University Student
				                       </div>
				                     </div>
				                   </div>
				                 </div>
				               </div>
				             </div>
				             <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
				               data-bs-slide="prev">
				               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				               <span class="visually-hidden">Previous</span>
				             </button>
				             <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
				               data-bs-slide="next">
				               <span class="carousel-control-next-icon" aria-hidden="true"></span>
				               <span class="visually-hidden">Next</span>
				             </button>
				           </div>


				         </div>
				         <!-- feesback slider end -->



				   
				   
				   
				   
		      	
   </section>
  </body>
</html>