<!doctype html>
<html lang="en" th:replace="base::layout(~{::section})">
  <head> 
  </head>
  <body>
	<section>
		<div class="row" style="background-color: brown;">
			<h1 class="text-center text-light fw-bold" style="background-color: bisque;"> <U><B>Enquiry Form</B></U>
			</h1>
			<div th:if="${message}">
				<p th:text="${message}" class="alert alert-success alert-dismissible"></p>
			</div>
			<form class="form-group" method="post" th:object="${dto}">
				<table class="table table-bordered" style="margin:auto; width: 60%;background-color: bisque;"> 
					<tr>
						<td>Enter name</td>
						<td><input type="text" required class="form-control" th:field="${dto.name}"/></td>
					</tr>
					<tr>
						<td>Select Gender</td>
						<td>
							<input type="radio" required class="form-check-input" value="male" th:field="${dto.gender}"/>Male
                            <input type="radio" required class="form-check-input" value="female" th:field="${dto.gender}"/>Female						
						</td>
					</tr>
					<tr>
						<td>Enter Contact No:</td>
						<td>
					<input type="number" required class="form-control"  th:field="${dto.contactno}"/>  		
						</td>
					</tr>
					<tr>
						<td>Email Address:</td>
						<td>
							<input type="email" required class="form-control"  th:field="${dto.emailaddress}"/>
						</td>
					</tr>
					<tr>
						<td>Enquiry text:</td>
						<td>
					<input type="text" required class="form-control"   th:field="${dto.enquirytext}"/>		
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
					<button type="submit" class="btn btn-primary">Submit</button>		
						</td>
					</tr>
				</table>
			</form>
		</div>
	</section>
	</div>
  </body>
</html>